body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(239, 250, 200);
}

/* Navbar Css */
#navbar {
    display: flex;
    /* width: 100vw; */
    justify-content: space-between;
    /* height: 11vh; */
    border: 1px solid black;
    background-color: rgb(230, 213, 122);
}

.logo a img {
    width: 90px;
}

.leftNavbar {
    display: flex;
    gap: 15px;
    margin-right: 1%;
}

.leftNavbar div {
    text-align: center;
    padding-top: 12%;
    display: block;
}

.leftNavbar div a {
    text-decoration: none;
}

.menu {
    padding: 15px 15px 0 0;
    display: none;
}

.material-icons {
    color: rgb(96,96,96);

}

#main {
    display: flex;
    margin-left: 30%;
}

#play1, #play2 {
    width: 20vw;
    height: 15vh;
    border: 1px solid black;
    text-align: center;
    box-sizing: border-box;
    padding-top: 1%;
    font-size: 30px;
    font-weight: 900;
    margin-top: 19%;
    border-radius: 15px;
    box-sizing: border-box;
}

#container {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    /* grid-gap: 20px; */
}

#container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #cecece; */
    font-size: 50px;
    font-weight: 900;
    box-sizing: border-box;
    /* border-radius: 20px; */
    cursor: pointer;

}

h1 {
    text-align: center;
}

#playAgain {
    display: none;
    margin-left: 48%;
}


/* For mobile phones */
@media screen and (max-width: 480px) {

    .logo a img {
        width: 50px;
    }

    .menu {
        display: block;
    }

    .leftNavbar {
        left: 75%;
        top: 11%;
        transform: translate(-50%, 0);
        text-align: center;
        position: absolute;
        background-color: #549DA0;
        min-width: 160px;
        border-radius: 5px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        display: none;
    }
    
    .leftNavbar div a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    #container div {
        font-size: 20px;
    }

}